{
  "swagger": "2.0",
  "info": {
    "description": "Veracode SCA Agent API Documentation.\n\nIf using SourceClear API credentials, use the default host URL: api.sourceclear.io/srcclr.\n\nIf using Veracode credentials, use one of the following base URLs depending on the region for your account:\n* https://api.veracode.com/srcclr - Veracode US Region (default)\n* https://api.veracode.eu/srcclr - Veracode European Region\n* https://api.veracode.us/srcclr - Veracode US Federal Region",
    "version": "3.0",
    "title": "Veracode SCA Agent API Specification"
  },
  "host": "api.veracode.com",
  "basePath": "/srcclr",
  "tags": [
    {
      "name": "agents",
      "description": "Agent operations."
    },
    {
      "name": "issues",
      "description": "Issue operations."
    },
    {
      "name": "registry",
      "description": "Registry operations."
    },
    {
      "name": "scans",
      "description": "Scan operations."
    },
    {
      "name": "team",
      "description": "Team operations."
    },
    {
      "name": "workspaces",
      "description": "Operations of projects in agent-based scan workspaces."
    },
    {
      "name": "sbom",
      "description": "Application SBOM data"
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v3/events": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "AuditEvents for the organization.",
        "description": "Get audit events for your organization.",
        "operationId": "getAuditUsingGET",
        "parameters": [
          {
            "name": "date_gte",
            "in": "query",
            "description": "Filter by events occurring on or after the specified date.",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false
          },
          {
            "name": "group",
            "in": "query",
            "description": "Filter by event group.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page you want to retrieve (0..N).",
            "required": false,
            "type": "integer",
            "exclusiveMaximum": false,
            "minimum": 0,
            "exclusiveMinimum": false,
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of records per page.",
            "required": false,
            "type": "integer",
            "maximum": 2000,
            "exclusiveMaximum": false,
            "minimum": 0,
            "exclusiveMinimum": false,
            "format": "int32"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by event type.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/PagedResources%C2%ABAuditEvent%C2%BB"
            }
          }
        }
      }
    },
    "/v3/issues/{id}": {
      "get": {
        "tags": [
          "issues"
        ],
        "summary": "getIssue",
        "operationId": "getIssueUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Issue ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/IssueDetailed"
            }
          }
        }
      }
    },
    "/v3/libraries/{id}": {
      "get": {
        "tags": [
          "registry"
        ],
        "summary": "getLibrary",
        "operationId": "getLibraryUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Library instance reference ID. <br/> ID values have this format: coordinateType:coordinate1:coordinate2:version:platform <br/> Example: maven:net.minidev:json-smart:1.3.1:",
            "required": true,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LibraryDetailed"
            }
          }
        }
      }
    },
    "/v3/licenses/{id}": {
      "get": {
        "tags": [
          "registry"
        ],
        "summary": "getLicense",
        "operationId": "getLicenseUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "License ID.",
            "required": true,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/LicenseDetailed"
            }
          }
        }
      }
    },
    "/v3/component-activity/{id}": {
      "get": {
        "tags": [
          "registry"
        ],
        "summary": "getComponentActivity",
        "operationId": "getComponentActivityUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Library instance reference ID. <br/> ID values have this format: coordinateType:coordinate1:coordinate2:version:platform <br/> Example: maven:net.minidev:json-smart:1.3.1:",
            "required": true,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ComponentMetricsModel"
            }
          }
        }
      }
    },
    "/v3/scans/{id}": {
      "get": {
        "tags": [
          "scans"
        ],
        "summary": "getScan",
        "operationId": "getScanUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Scan ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/Scan"
            }
          }
        }
      }
    },
    "/v3/teams": {
      "get": {
        "tags": [
          "team"
        ],
        "summary": "getTeams",
        "description": "Get all teams for an account.",
        "operationId": "getTeamsUsingGET",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Filter by team name.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page of results that you want to retrieve (0..N).",
            "required": false,
            "type": "integer",
            "exclusiveMaximum": false,
            "minimum": 0,
            "exclusiveMinimum": false,
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "description": "The number of records per page.",
            "required": false,
            "type": "integer",
            "maximum": 2000,
            "exclusiveMaximum": false,
            "minimum": 0,
            "exclusiveMinimum": false,
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property(asc|desc). The default order is name ascending.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "id",
                "name"
              ]
            },
            "collectionFormat": "multi"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/Resources%C2%ABTeam%C2%BB"
            }
          }
        }
      }
    },
    "/v3/teams/{id}": {
      "get": {
        "tags": [
          "team"
        ],
        "summary": "getTeam",
        "description": "Get team information with the given team id.",
        "operationId": "getTeamUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Team ID.",
            "required": true,
            "type": "string",
            "x-example": "0"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/Team"
            }
          }
        }
      }
    },
    "/v3/vulnerabilities/{id}": {
      "get": {
        "tags": [
          "registry"
        ],
        "summary": "getVulnerability",
        "operationId": "getVulnerabilityUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Vulnerability ID.",
            "required": true,
            "type": "string"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/VulnerabilityDetailed"
            }
          }
        }
      }
    },
    "/v3/workspaces": {
      "get": {
        "tags": [
          "workspaces"
        ],
        "summary": "getWorkspaces",
        "description": "Get visible workspaces. Workspace visibility depends on workspace membership and user permissions.",
        "operationId": "getWorkspacesUsingGET",
        "parameters": [
          {
            "name": "filter[library]",
            "in": "query",
            "description": "The library name filter.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter[license]",
            "in": "query",
            "description": "The license name filter.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter[project]",
            "in": "query",
            "description": "The project name filter.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter[vulnerability]",
            "in": "query",
            "description": "The vulnerability title filter.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter[workspace]",
            "in": "query",
            "description": "The workspace name filter.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page of results that you want to retrieve (0..N).",
            "required": false,
            "type": "integer",
            "exclusiveMaximum": false,
            "minimum": 0,
            "exclusiveMinimum": false,
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "description": "The number of records per page.",
            "required": false,
            "type": "integer",
            "maximum": 2000,
            "exclusiveMaximum": false,
            "minimum": 0,
            "exclusiveMinimum": false,
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property(asc|desc). The default order is ascending.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "name"
              ]
            },
            "collectionFormat": "multi"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/PagedResources%C2%ABWorkspace%C2%BB"
            }
          }
        }
      },
      "post": {
        "tags": [
          "workspaces"
        ],
        "summary": "createWorkspace",
        "description": "Create a workspace using the workspace TeamInputModel.",
        "operationId": "createWorkspaceUsingPOST",
        "parameters": [
          {
            "in": "body",
            "name": "inputModel",
            "description": "Team model containing the team name, description, and memberships.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateWorkspaceModel"
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          }
        }
      }
    },
    "/v3/workspaces/{id}": {
      "get": {
        "tags": [
          "workspaces"
        ],
        "summary": "getWorkspace",
        "description": "Get single workspace.",
        "operationId": "getWorkspaceUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "workspaces"
        ],
        "summary": "deleteWorkspace",
        "description": "Delete workspace.",
        "operationId": "deleteWorkspaceUsingDELETE",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/v3/workspaces/{id}/issues": {
      "get": {
        "tags": [
          "workspaces"
        ],
        "summary": "getIssues",
        "description": "Get issues for the given workspace. Note: If a project Default Branch is set or a branch name is given, only issues from scans of that branch are displayed.",
        "operationId": "getIssuesUsingGET",
        "parameters": [
          {
            "name": "branch",
            "in": "query",
            "description": "Filter by branch name.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "created_after",
            "in": "query",
            "description": "Filter by issues created on or after the specified date.",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false
          },
          {
            "name": "created_before",
            "in": "query",
            "description": "Filter by issues created on or before the specified date.",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false
          },
          {
            "name": "direct",
            "in": "query",
            "description": "Filter by direct dependency.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false
          },
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "ignored",
            "in": "query",
            "description": "If true, show only ignored issues.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page you want to retrieve (0..N).",
            "required": false,
            "type": "integer",
            "exclusiveMaximum": false,
            "minimum": 0,
            "exclusiveMinimum": false,
            "format": "int32"
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "Filter 0 or more project IDs.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": false
          },
          {
            "name": "scans_after",
            "in": "query",
            "description": "Filter by issues last seen in scans on or after the specified scan date.",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false
          },
          {
            "name": "scans_before",
            "in": "query",
            "description": "Filter by issues last seen in scans on or before the specified scan date.",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false
          },
          {
            "name": "search",
            "in": "query",
            "description": "Filter by issues matching the provided text search.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "severity_gt",
            "in": "query",
            "description": "Filter by issue severity greater than the provided value.",
            "required": false,
            "type": "number",
            "format": "float",
            "allowEmptyValue": false
          },
          {
            "name": "severity_gte",
            "in": "query",
            "description": "Filter by issue severity greater than or equal to the provided value.",
            "required": false,
            "type": "number",
            "format": "float",
            "allowEmptyValue": false
          },
          {
            "name": "severity_lt",
            "in": "query",
            "description": "Filter by issue severity less than the provided value.",
            "required": false,
            "type": "number",
            "format": "float",
            "allowEmptyValue": false
          },
          {
            "name": "severity_lte",
            "in": "query",
            "description": "Filter by issue severity less than or equal to the provided value.",
            "required": false,
            "type": "number",
            "format": "float",
            "allowEmptyValue": false
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of records per page.",
            "required": false,
            "type": "integer",
            "maximum": 2000,
            "exclusiveMaximum": false,
            "minimum": 0,
            "exclusiveMinimum": false,
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property(,asc|desc). Default order is created date descending.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "severity",
                "created_date"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by issue status.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "open",
                "fixed"
              ]
            },
            "collectionFormat": "multi",
            "default": "open",
            "allowEmptyValue": false
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by issue type.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": false
          },
          {
            "name": "vuln_methods",
            "in": "query",
            "description": "Filter by vulnerable methods.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/PagedResources%C2%ABIssueSummary%C2%BB"
            }
          }
        }
      }
    },
    "/v3/workspaces/{id}/libraries": {
      "get": {
        "tags": [
          "workspaces"
        ],
        "summary": "getLibraries",
        "description": "Get libraries for the given workspace.",
        "operationId": "getLibrariesUsingGET",
        "parameters": [
          {
            "name": "direct",
            "in": "query",
            "description": "Filter by direct dependencies only, false will filter by indirect dependencies.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false
          },
          {
            "name": "has_vulnerabilities",
            "in": "query",
            "description": "Filter by libraries with vulnerabilities only. If false, filter by libraries with no vulnerabilities.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false
          },
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "out_of_date",
            "in": "query",
            "description": "Filter by out-of-date libraries only. If false, filter by up-to-date libraries.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page you want to retrieve (0..N).",
            "required": false,
            "type": "integer",
            "exclusiveMaximum": false,
            "minimum": 0,
            "exclusiveMinimum": false,
            "format": "int32"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Filter by library names matching the provided text search.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of records per page.",
            "required": false,
            "type": "integer",
            "maximum": 2000,
            "exclusiveMaximum": false,
            "minimum": 0,
            "exclusiveMinimum": false,
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property(asc|desc). Default order is name ascending.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "name"
              ]
            },
            "collectionFormat": "multi"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/PagedResources%C2%ABLibrarySummary%C2%BB"
            }
          }
        }
      }
    },
    "/v3/workspaces/{id}/libraries/unmatched": {
      "get": {
        "tags": [
          "workspaces"
        ],
        "summary": "getUnmatchedLibraries",
        "description": "Get unmatched libraries for the given workspace.",
        "operationId": "getUnmatchedLibrariesUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page you want to retrieve (0..N).",
            "required": false,
            "type": "integer",
            "exclusiveMaximum": false,
            "minimum": 0,
            "exclusiveMinimum": false,
            "format": "int32"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Filter by unmatched library names matching the provided text search.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of records per page.",
            "required": false,
            "type": "integer",
            "maximum": 2000,
            "exclusiveMaximum": false,
            "minimum": 0,
            "exclusiveMinimum": false,
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property(asc|desc). Default order is name ascending.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "name"
              ]
            },
            "collectionFormat": "multi"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/PagedResources%C2%ABUnmatchedLibraryReportResource%C2%BB"
            }
          }
        }
      }
    },
    "/v3/workspaces/{id}/projects": {
      "get": {
        "tags": [
          "workspaces"
        ],
        "summary": "getWorkspaceProjects",
        "description": "Get workspace projects.",
        "operationId": "getWorkspaceProjectsUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page of results that you want to retrieve (0..N).",
            "required": false,
            "type": "integer",
            "exclusiveMaximum": false,
            "minimum": 0,
            "exclusiveMinimum": false,
            "format": "int32"
          },
          {
            "name": "search",
            "in": "query",
            "description": "The Project name filter.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "size",
            "in": "query",
            "description": "The number of records per page.",
            "required": false,
            "type": "integer",
            "maximum": 2000,
            "exclusiveMaximum": false,
            "minimum": 0,
            "exclusiveMinimum": false,
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property(asc|desc). The default order is name ascending.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "name"
              ]
            },
            "collectionFormat": "multi"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/PagedResources%C2%ABProject%C2%BB"
            }
          }
        }
      }
    },
    "/v3/workspaces/{id}/projects/{projectId}": {
      "get": {
        "tags": [
          "workspaces"
        ],
        "summary": "getProjects",
        "description": "Get single project in an agent-based scan workspace.",
        "operationId": "getProjectsUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        }
      }
    },
    "/v3/workspaces/{id}/projects/{projectId}/issues": {
      "get": {
        "tags": [
          "workspaces"
        ],
        "summary": "getProjectIssues",
        "description": "Get issues from a project in an agent-based scan workspace, including the linked container project.",
        "operationId": "getProjectIssuesUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          },
          {
            "name": "linked_projects",
            "in": "query",
            "description": "Request issues from linked projects.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by issue status.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "open",
                "fixed"
              ]
            },
            "collectionFormat": "multi",
            "default": "open"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/PagedResources%C2%ABIssueSummary%C2%BB"
            }
          }
        }
      }
    },
    "/v3/workspaces/{id}/projects/{projectId}/libraries": {
      "get": {
        "tags": [
          "workspaces"
        ],
        "summary": "getProjectLibraries",
        "description": "Get libraries from a project in an agent-based scan workspace.",
        "operationId": "getProjectLibrariesUsingGET",
        "parameters": [
          {
            "name": "direct",
            "in": "query",
            "description": "Filter by direct dependencies only. If false, filter by indirect dependencies only.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false
          },
          {
            "name": "has_vulnerabilities",
            "in": "query",
            "description": "Filter by libraries with vulnerabilities only. If false, filter by libraries with no vulnerabilities.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false
          },
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          },
          {
            "name": "out_of_date",
            "in": "query",
            "description": "Filter by out-of-date libraries only. If false, filter by up-to-date libraries only.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page you want to retrieve (0..N).",
            "required": false,
            "type": "integer",
            "exclusiveMaximum": false,
            "minimum": 0,
            "exclusiveMinimum": false,
            "format": "int32"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Filter by library names matching the provided text search.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of records per page.",
            "required": false,
            "type": "integer",
            "maximum": 2000,
            "exclusiveMaximum": false,
            "minimum": 0,
            "exclusiveMinimum": false,
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property(asc|desc). Default order is name ascending.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "name"
              ]
            },
            "collectionFormat": "multi"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/PagedResources%C2%ABLibrarySummary%C2%BB"
            }
          }
        }
      }
    },
    "/v3/workspaces/{id}/teams": {
      "get": {
        "tags": [
          "workspaces"
        ],
        "summary": "getTeams",
        "description": "Get teams in a workspace.",
        "operationId": "getTeamsUsingGET_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/Resources%C2%ABTeam%C2%BB"
            }
          }
        }
      }
    },
    "/v3/workspaces/{id}/teams/{teamId}": {
      "put": {
        "tags": [
          "workspaces"
        ],
        "summary": "addTeam",
        "description": "Add teams to a workspace.",
        "operationId": "addTeamUsingPUT",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          },
          {
            "name": "teamId",
            "in": "path",
            "description": "Team ID.",
            "required": true,
            "type": "string",
            "x-example": "1"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "workspaces"
        ],
        "summary": "deleteTeam",
        "description": "Remove teams from a workspace.",
        "operationId": "deleteTeamUsingDELETE",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          },
          {
            "name": "teamId",
            "in": "path",
            "description": "Team ID.",
            "required": true,
            "type": "string",
            "x-example": "1"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "You have successfully removed teams from a workspace.",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/v3/workspaces/{workspaceId}/agents": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "getWorkspaceAgents",
        "description": "Get a list of agents tied to the given workspace.",
        "operationId": "getWorkspaceAgentsUsingGET",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "Workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/Resources%C2%ABAgentSummary%C2%BB"
            }
          }
        }
      },
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "createWorkspaceAgent",
        "description": "Create a new agent in the given workspace.",
        "operationId": "createWorkspaceAgentUsingPOST",
        "parameters": [
          {
            "in": "body",
            "name": "createModel",
            "description": "Agent create model including name and agent_type.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentCreate"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "description": "Workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/CreatedAgent"
            }
          }
        }
      }
    },
    "/v3/workspaces/{workspaceId}/agents/{agentId}": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "getWorkspaceAgent",
        "description": "Get a single AgentSummaryResource.",
        "operationId": "getWorkspaceAgentUsingGET",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Agent ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          },
          {
            "name": "workspaceId",
            "in": "path",
            "description": "Workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/AgentSummary"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "agents"
        ],
        "summary": "Delete Workspace Agent",
        "description": "Delete an agent in a given workspace, with the provided workspace identifier and agent identifier.",
        "operationId": "deleteAgentInWorkspaceUsingDELETE",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Agent ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          },
          {
            "name": "workspaceId",
            "in": "path",
            "description": "Workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request."
          }
        }
      }
    },
    "/v3/workspaces/{workspaceId}/agents/{agentId}/token:regenerate": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "renewWorkspaceAgentToken",
        "description": "Create a new agent token for the given agent ID. This request invalidates the existing tokens for this agent.",
        "operationId": "renewWorkspaceAgentTokenUsingPOST",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Agent ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          },
          {
            "name": "workspaceId",
            "in": "path",
            "description": "Workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/AgentToken"
            }
          }
        }
      }
    },
    "/v3/workspaces/{workspaceId}/agents/{agentId}/tokens": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "getWorkspaceAgentTokens",
        "description": "Get a list of the tokens tied to a specific agent.",
        "operationId": "getWorkspaceAgentTokensUsingGET",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Agent ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          },
          {
            "name": "workspaceId",
            "in": "path",
            "description": "Workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/Resources%C2%ABAgentToken%C2%BB"
            }
          }
        }
      }
    },
    "/v3/workspaces/{workspaceId}/agents/{agentId}/tokens/{tokenId}": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "getWorkspaceAgentToken",
        "description": "Get a single agent token.",
        "operationId": "getWorkspaceAgentTokenUsingGET",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Agent ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          },
          {
            "name": "tokenId",
            "in": "path",
            "description": "Token ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          },
          {
            "name": "workspaceId",
            "in": "path",
            "description": "Workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/AgentToken"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "agents"
        ],
        "summary": "revokeWorkspaceAgentToken",
        "operationId": "revokeWorkspaceAgentTokenUsingDELETE",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Agent ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          },
          {
            "name": "tokenId",
            "in": "path",
            "description": "Token ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          },
          {
            "name": "workspaceId",
            "in": "path",
            "description": "Workspace ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request."
          }
        }
      }
    },
    "/sbom/v1/targets/{targetUuid}/cyclonedx": {
      "get": {
        "tags": [
          "sbom"
        ],
        "summary": "getSbomCyclonedx",
        "operationId": "getSbomCyclonedxUsingGET",
        "parameters": [
          {
            "name": "targetUuid",
            "in": "path",
            "description": "target ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by scan type.",
            "required": true,
            "type": "string",
            "default": "application",
            "allowEmptyValue": false,
            "enum": [
              "application",
              "agent"
            ]
          },
          {
            "name": "vulnerability",
            "in": "query",
            "description": "Include vulnerability infomation.",
            "required": false,
            "type": "boolean",
            "default": true
          },
          {
            "name": "linked",
            "in": "query",
            "description": "Include results from linked projects.",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/sbom"
            }
          }
        }
      }
    },
    "/sbom/v1/targets/{targetUuid}/spdx": {
      "get": {
        "tags": [
          "sbom"
        ],
        "summary": "getSbomSpdx",
        "operationId": "getSbomSpdxUsingGET",
        "parameters": [
          {
            "name": "targetUuid",
            "in": "path",
            "description": "target ID.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "00000000-0000-0000-0000-000000000000"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by scan type.",
            "required": true,
            "type": "string",
            "default": "application",
            "allowEmptyValue": false,
            "enum": [
              "application",
              "agent"
            ]
          },
          {
            "name": "vulnerability",
            "in": "query",
            "description": "Include vulnerability information.",
            "required": false,
            "type": "boolean",
            "default": true
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "Include dependecy information.",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "You have successfully submitted your request.",
            "schema": {
              "$ref": "#/definitions/sbom-spdx"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AgentSummary": {
      "type": "object",
      "properties": {
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "created_by": {
          "type": "string"
        },
        "created_date": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "last_scan_date": {
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "type": "string"
        }
      },
      "title": "AgentSummary"
    },
    "AgentToken": {
      "type": "object",
      "properties": {
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "access_token": {
          "type": "string",
          "description": "Access token for the agent. This field is only visible when a token is first created and returned."
        },
        "created_by": {
          "type": "string"
        },
        "created_date": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "string"
        }
      },
      "title": "AgentToken"
    },
    "PagedResources«AuditEvent»": {
      "type": "object",
      "properties": {
        "_embedded": {
          "type": "array",
          "xml": {
            "name": "embedded",
            "attribute": false,
            "wrapped": true
          },
          "items": {
            "$ref": "#/definitions/AuditEvent"
          }
        },
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "page": {
          "$ref": "#/definitions/PageMetadata"
        }
      },
      "title": "PagedResources«AuditEvent»",
      "xml": {
        "name": "pagedEntities",
        "attribute": false,
        "wrapped": false
      }
    },
    "AuditEvent": {
      "type": "object",
      "properties": {
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "actor": {
          "type": "string",
          "description": "Current username of the actor who invoked the event. For auditing, check the Veracode Platform user activity log for username changes or, if you cannot find the information you need, contact Veracode Technical Support. If null, a Veracode internal system invoked the event."
        },
        "date": {
          "type": "string",
          "format": "date-time",
          "description": "Date the audit event was created on."
        },
        "event_group": {
          "type": "string",
          "description": "Event group for the audit event."
        },
        "event_type": {
          "type": "string",
          "description": "Event type for the audit event"
        },
        "id": {
          "type": "string",
          "format": "uuid",
          "description": "Audit event identifier."
        },
        "reason": {
          "type": "string",
          "description": "The reason for the audit event."
        },
        "source_ip": {
          "type": "string",
          "description": "Source IP the audit event happened on."
        },
        "target_agent": {
          "type": "string",
          "description": "Target agent of the audit event."
        },
        "target_project": {
          "type": "string",
          "description": "Target project of the audit event."
        },
        "target_workspace": {
          "type": "string",
          "description": "Target workspace of the audit event."
        }
      },
      "title": "AuditEvent"
    },
    "CreateWorkspaceModel": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The workspace name. Must be between 3 and 20 letters, numbers, spaces, hyphens, single-quotes or underscores (must start with a letter)."
        }
      },
      "title": "CreateWorkspaceModel"
    },
    "AgentCreate": {
      "type": "object",
      "properties": {
        "agent_type": {
          "type": "string",
          "enum": [
            "CLI",
            "MAVEN",
            "GRADLE",
            "JENKINS",
            "BAMBOO",
            "CIRCLECI",
            "CODESHIP",
            "PIPELINES",
            "TRAVIS",
            "WINDOWSCI"
          ]
        },
        "name": {
          "type": "string"
        }
      },
      "title": "AgentCreate"
    },
    "CreatedAgent": {
      "type": "object",
      "properties": {
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "created_by": {
          "type": "string"
        },
        "created_date": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "last_scan_date": {
          "type": "string",
          "format": "date-time"
        },
        "name": {
          "type": "string"
        },
        "site_id": {
          "type": "integer",
          "format": "int64"
        },
        "token": {
          "$ref": "#/definitions/AgentToken"
        }
      },
      "title": "CreatedAgent"
    },
    "PagedResources«IssueSummary»": {
      "type": "object",
      "properties": {
        "_embedded": {
          "type": "array",
          "xml": {
            "name": "embedded",
            "attribute": false,
            "wrapped": true
          },
          "items": {
            "$ref": "#/definitions/IssueSummary"
          }
        },
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "page": {
          "$ref": "#/definitions/PageMetadata"
        }
      },
      "title": "PagedResources«Issue Summary»",
      "xml": {
        "name": "pagedEntities",
        "attribute": false,
        "wrapped": false
      }
    },
    "IssueSummary": {
      "type": "object",
      "properties": {
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "created_date": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "ignored": {
          "type": "boolean"
        },
        "issue_status": {
          "type": "string",
          "enum": [
            "fixed",
            "open"
          ]
        },
        "issue_type": {
          "type": "string",
          "enum": [
            "library",
            "license",
            "vulnerability"
          ]
        },
        "library": {
          "$ref": "#/definitions/LibrarySummary"
        },
        "library_updated_release_date": {
          "type": "string",
          "format": "date-time",
          "description": "Library update release date. Only set for issue_type=library."
        },
        "library_updated_version": {
          "type": "string",
          "description": "Library update version. Only set for issue_type=library."
        },
        "license": {
          "$ref": "#/definitions/LicenseSummary"
        },
        "license_count": {
          "type": "integer",
          "format": "int32",
          "description": "License count. Only set for issue_type=license."
        },
        "project_branch": {
          "type": "string"
        },
        "project_id": {
          "type": "string",
          "format": "uuid"
        },
        "project_name": {
          "type": "string"
        },
        "project_tag": {
          "type": "string"
        },
        "severity": {
          "type": "number",
          "format": "float"
        },
        "site_id": {
          "type": "integer",
          "format": "int64"
        },
        "vulnerability": {
          "$ref": "#/definitions/VulnerabilitySummary"
        },
        "vulnerable_method": {
          "type": "boolean",
          "description": "Only set for issue_type=vulnerability."
        },
        "vulnerable_method_information": {
          "type": "string",
          "description": "Only set for issue_type=vulnerability."
        },
        "workspace_id": {
          "type": "string",
          "format": "uuid"
        }
      },
      "title": "IssueSummary"
    },
    "IssueDetailed": {
      "type": "object",
      "properties": {
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "component_file_name": {
          "type": "string"
        },
        "component_file_path": {
          "type": "string"
        },
        "created_date": {
          "type": "string",
          "format": "date-time"
        },
        "fixed_scan": {
          "$ref": "#/definitions/Scan"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "ignored": {
          "type": "boolean"
        },
        "issue_status": {
          "type": "string",
          "enum": [
            "fixed",
            "open"
          ]
        },
        "issue_type": {
          "type": "string",
          "enum": [
            "library",
            "license",
            "vulnerability"
          ]
        },
        "library": {
          "$ref": "#/definitions/LibrarySummary"
        },
        "library_updated_release_date": {
          "type": "string",
          "format": "date-time",
          "description": "Library update release date. Only set for issue_type=library."
        },
        "library_updated_version": {
          "type": "string",
          "description": "Library update version. Only set for issue_type=library."
        },
        "license": {
          "$ref": "#/definitions/LicenseSummary"
        },
        "license_count": {
          "type": "integer",
          "format": "int32",
          "description": "License count. Only set for issue_type=license."
        },
        "opened_scan": {
          "$ref": "#/definitions/Scan"
        },
        "project_branch": {
          "type": "string"
        },
        "project_id": {
          "type": "string",
          "format": "uuid"
        },
        "project_name": {
          "type": "string"
        },
        "project_tag": {
          "type": "string"
        },
        "severity": {
          "type": "number",
          "format": "float"
        },
        "site_id": {
          "type": "integer",
          "format": "int64"
        },
        "vulnerability": {
          "$ref": "#/definitions/VulnerabilitySummary"
        },
        "vulnerable_method": {
          "type": "boolean",
          "description": "Only set for issue_type=vulnerability."
        },
        "vulnerable_method_information": {
          "type": "string",
          "description": "Only set for issue_type=vulnerability."
        },
        "workspace_id": {
          "type": "string",
          "format": "uuid"
        },
        "fix_info": {
          "$ref": "#/definitions/FixInfo"
        },
        "vulnerable_methods": {
          "type": "array",
          "description": "Details about a vulnerable method in use in the library, including the type of method and the line number. Only set for issue_type=vulnerability.",
          "items": {
            "$ref": "#/definitions/VulnerableMethod"
          }
        }
      },
      "title": "IssueDetailed"
    },
    "LibraryDetailed": {
      "type": "object",
      "properties": {
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "direct": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "language": {
          "type": "string",
          "enum": [
            "java",
            "js",
            "ruby",
            "python",
            "go",
            "php",
            "objectivec",
            "cpp",
            "csharp"
          ]
        },
        "latest_version": {
          "type": "string"
        },
        "latest_version_release_date": {
          "type": "string",
          "format": "date-time"
        },
        "licenses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LicenseSummary"
          }
        },
        "line_count": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "release_date": {
          "type": "string",
          "format": "date-time"
        },
        "transitive": {
          "type": "boolean"
        },
        "version": {
          "type": "string"
        }
      },
      "title": "LibraryDetailed"
    },
    "LibrarySummary": {
      "type": "object",
      "properties": {
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "direct": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "latest_version": {
          "type": "string"
        },
        "latest_version_release_date": {
          "type": "string",
          "format": "date"
        },
        "name": {
          "type": "string"
        },
        "release_date": {
          "type": "string",
          "format": "date"
        },
        "transitive": {
          "type": "boolean"
        },
        "version": {
          "type": "string"
        }
      },
      "title": "LibrarySummary"
    },
    "LicenseDetailed": {
      "type": "object",
      "properties": {
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "title": "LicenseDetailed"
    },
    "LicenseSummary": {
      "type": "object",
      "properties": {
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "risk": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        }
      },
      "title": "LicenseSummary",
      "description": "License Summary. Only set for issue_type=license."
    },
    "Link": {
      "type": "object",
      "properties": {
        "deprecation": {
          "type": "string",
          "xml": {
            "name": "deprecation",
            "attribute": true,
            "wrapped": false
          }
        },
        "href": {
          "type": "string",
          "xml": {
            "name": "href",
            "attribute": true,
            "wrapped": false
          }
        },
        "hreflang": {
          "type": "string",
          "xml": {
            "name": "hreflang",
            "attribute": true,
            "wrapped": false
          }
        },
        "media": {
          "type": "string",
          "xml": {
            "name": "media",
            "attribute": true,
            "wrapped": false
          }
        },
        "rel": {
          "type": "string",
          "xml": {
            "name": "rel",
            "attribute": true,
            "wrapped": false
          }
        },
        "templated": {
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "xml": {
            "name": "title",
            "attribute": true,
            "wrapped": false
          }
        },
        "type": {
          "type": "string",
          "xml": {
            "name": "type",
            "attribute": true,
            "wrapped": false
          }
        }
      },
      "title": "Link"
    },
    "PageMetadata": {
      "type": "object",
      "properties": {
        "number": {
          "type": "integer",
          "format": "int64",
          "xml": {
            "name": "number",
            "attribute": true,
            "wrapped": false
          }
        },
        "size": {
          "type": "integer",
          "format": "int64",
          "xml": {
            "name": "size",
            "attribute": true,
            "wrapped": false
          }
        },
        "total_elements": {
          "type": "integer",
          "format": "int64",
          "xml": {
            "name": "total_elements",
            "attribute": true,
            "wrapped": false
          }
        },
        "total_pages": {
          "type": "integer",
          "format": "int64",
          "xml": {
            "name": "total_pages",
            "attribute": true,
            "wrapped": false
          }
        }
      },
      "title": "PageMetadata"
    },
    "PagedResources«LibrarySummary»": {
      "type": "object",
      "properties": {
        "_embedded": {
          "type": "array",
          "xml": {
            "name": "embedded",
            "attribute": false,
            "wrapped": true
          },
          "items": {
            "$ref": "#/definitions/LibrarySummary"
          }
        },
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "page": {
          "$ref": "#/definitions/PageMetadata"
        }
      },
      "title": "PagedResources«LibrarySummary»",
      "xml": {
        "name": "pagedEntities",
        "attribute": false,
        "wrapped": false
      }
    },
    "PagedResources«Project»": {
      "type": "object",
      "properties": {
        "_embedded": {
          "type": "array",
          "xml": {
            "name": "embedded",
            "attribute": false,
            "wrapped": true
          },
          "items": {
            "$ref": "#/definitions/Project"
          }
        },
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "page": {
          "$ref": "#/definitions/PageMetadata"
        }
      },
      "title": "PagedResources«Project»",
      "xml": {
        "name": "pagedEntities",
        "attribute": false,
        "wrapped": false
      }
    },
    "PagedResources«UnmatchedLibraryReportResource»": {
      "type": "object",
      "properties": {
        "_embedded": {
          "type": "array",
          "xml": {
            "name": "embedded",
            "attribute": false,
            "wrapped": true
          },
          "items": {
            "$ref": "#/definitions/UnmatchedLibraryReportResource"
          }
        },
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "page": {
          "$ref": "#/definitions/PageMetadata"
        }
      },
      "title": "PagedResources«UnmatchedLibraryReportResource»",
      "xml": {
        "name": "pagedEntities",
        "attribute": false,
        "wrapped": false
      }
    },
    "PagedResources«Workspace»": {
      "type": "object",
      "properties": {
        "_embedded": {
          "type": "array",
          "xml": {
            "name": "embedded",
            "attribute": false,
            "wrapped": true
          },
          "items": {
            "$ref": "#/definitions/Workspace"
          }
        },
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "page": {
          "$ref": "#/definitions/PageMetadata"
        }
      },
      "title": "PagedResources«Workspace»",
      "xml": {
        "name": "pagedEntities",
        "attribute": false,
        "wrapped": false
      }
    },
    "Project": {
      "type": "object",
      "properties": {
        "_links": {
          "type": "array",
          "example": {
            "self": {
              "href": "https://api.veracode.com/srcclr/v3/workspaces/25f2704e-faaa-45a0-a3d8-88ebf61fe3d8/projects/5e5b3f95-d05c-4fe7-a2d2-8b897d2d0418"
            },
            "linked_application": {
              "href": "https://api.veracode.com/appsec/v1/applications/9dc43444-f9e9-4085-850f-9a0d6e31a9f3"
            }
          },
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "branches": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string"
        },
        "languages": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "JAVA",
              "JS",
              "RUBY",
              "PYTHON",
              "OBJECTIVEC",
              "SWIFT",
              "PHP",
              "SCALA",
              "GO",
              "CPP",
              "CSHARP",
              "OS"
            ]
          }
        },
        "last_scan_date": {
          "type": "string",
          "format": "date-time"
        },
        "library_issues_count": {
          "type": "integer",
          "format": "int32"
        },
        "license_issues_count": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "site_id": {
          "type": "string"
        },
        "total_issues_count": {
          "type": "integer",
          "format": "int32"
        },
        "vulnerability_issues_count": {
          "type": "integer",
          "format": "int32"
        },
        "linked_application": {
          "$ref": "#/definitions/Project_linked_application"
        }
      },
      "title": "Project"
    },
    "Resources«AgentSummary»": {
      "type": "object",
      "properties": {
        "_embedded": {
          "type": "array",
          "xml": {
            "name": "embedded",
            "attribute": false,
            "wrapped": true
          },
          "items": {
            "$ref": "#/definitions/AgentSummary"
          }
        },
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        }
      },
      "title": "Resources«AgentSummary»",
      "xml": {
        "name": "entities",
        "attribute": false,
        "wrapped": false
      }
    },
    "Resources«AgentToken»": {
      "type": "object",
      "properties": {
        "_embedded": {
          "type": "array",
          "xml": {
            "name": "embedded",
            "attribute": false,
            "wrapped": true
          },
          "items": {
            "$ref": "#/definitions/AgentToken"
          }
        },
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        }
      },
      "title": "Resources«AgentToken»",
      "xml": {
        "name": "entities",
        "attribute": false,
        "wrapped": false
      }
    },
    "Resources«Team»": {
      "type": "object",
      "properties": {
        "_embedded": {
          "type": "array",
          "xml": {
            "name": "embedded",
            "attribute": false,
            "wrapped": true
          },
          "items": {
            "$ref": "#/definitions/Team"
          }
        },
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        }
      },
      "title": "Resources«Team»",
      "xml": {
        "name": "entities",
        "attribute": false,
        "wrapped": false
      }
    },
    "ResponseEntity": {
      "type": "object",
      "properties": {
        "body": {
          "type": "object",
          "properties": {}
        },
        "status_code": {
          "type": "string",
          "enum": [
            "100 CONTINUE",
            "101 SWITCHING_PROTOCOLS",
            "102 PROCESSING",
            "103 CHECKPOINT",
            "200 OK",
            "201 CREATED",
            "202 ACCEPTED",
            "203 NON_AUTHORITATIVE_INFORMATION",
            "204 NO_CONTENT",
            "205 RESET_CONTENT",
            "206 PARTIAL_CONTENT",
            "207 MULTI_STATUS",
            "208 ALREADY_REPORTED",
            "226 IM_USED",
            "300 MULTIPLE_CHOICES",
            "301 MOVED_PERMANENTLY",
            "302 FOUND",
            "302 MOVED_TEMPORARILY",
            "303 SEE_OTHER",
            "304 NOT_MODIFIED",
            "305 USE_PROXY",
            "307 TEMPORARY_REDIRECT",
            "308 PERMANENT_REDIRECT",
            "400 BAD_REQUEST",
            "401 UNAUTHORIZED",
            "402 PAYMENT_REQUIRED",
            "403 FORBIDDEN",
            "404 NOT_FOUND",
            "405 METHOD_NOT_ALLOWED",
            "406 NOT_ACCEPTABLE",
            "407 PROXY_AUTHENTICATION_REQUIRED",
            "408 REQUEST_TIMEOUT",
            "409 CONFLICT",
            "410 GONE",
            "411 LENGTH_REQUIRED",
            "412 PRECONDITION_FAILED",
            "413 PAYLOAD_TOO_LARGE",
            "413 REQUEST_ENTITY_TOO_LARGE",
            "414 URI_TOO_LONG",
            "414 REQUEST_URI_TOO_LONG",
            "415 UNSUPPORTED_MEDIA_TYPE",
            "416 REQUESTED_RANGE_NOT_SATISFIABLE",
            "417 EXPECTATION_FAILED",
            "418 I_AM_A_TEAPOT",
            "419 INSUFFICIENT_SPACE_ON_RESOURCE",
            "420 METHOD_FAILURE",
            "421 DESTINATION_LOCKED",
            "422 UNPROCESSABLE_ENTITY",
            "423 LOCKED",
            "424 FAILED_DEPENDENCY",
            "426 UPGRADE_REQUIRED",
            "428 PRECONDITION_REQUIRED",
            "429 TOO_MANY_REQUESTS",
            "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
            "451 UNAVAILABLE_FOR_LEGAL_REASONS",
            "500 INTERNAL_SERVER_ERROR",
            "501 NOT_IMPLEMENTED",
            "502 BAD_GATEWAY",
            "503 SERVICE_UNAVAILABLE",
            "504 GATEWAY_TIMEOUT",
            "505 HTTP_VERSION_NOT_SUPPORTED",
            "506 VARIANT_ALSO_NEGOTIATES",
            "507 INSUFFICIENT_STORAGE",
            "508 LOOP_DETECTED",
            "509 BANDWIDTH_LIMIT_EXCEEDED",
            "510 NOT_EXTENDED",
            "511 NETWORK_AUTHENTICATION_REQUIRED"
          ]
        },
        "status_code_value": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "ResponseEntity"
    },
    "Scan": {
      "type": "object",
      "properties": {
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "branch": {
          "type": "string"
        },
        "commit": {
          "type": "string"
        },
        "date": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "tag": {
          "type": "string"
        }
      },
      "title": "Scan"
    },
    "Team": {
      "type": "object",
      "properties": {
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "title": "Team"
    },
    "UnmatchedLibraryReportResource": {
      "type": "object",
      "properties": {
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "bytecode": {
          "type": "string"
        },
        "commit_hash": {
          "type": "string"
        },
        "coord1": {
          "type": "string"
        },
        "coord2": {
          "type": "string"
        },
        "coordinate_type": {
          "type": "string",
          "enum": [
            "MAVEN",
            "GEM",
            "NPM",
            "BOWER",
            "PYPI",
            "COCOAPODS",
            "GO",
            "PACKAGIST",
            "SO",
            "NUGET",
            "RPM",
            "MANUAL"
          ]
        },
        "file_path": {
          "type": "string"
        },
        "filename": {
          "type": "string"
        },
        "library_version": {
          "type": "string"
        },
        "sha1": {
          "type": "string"
        },
        "sha256": {
          "type": "string"
        }
      },
      "title": "UnmatchedLibraryReportResource"
    },
    "VulnerabilityDetailed": {
      "type": "object",
      "properties": {
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "cve": {
          "type": "string"
        },
        "cvss2": {
          "type": "number",
          "format": "float"
        },
        "cvss3": {
          "type": "number",
          "format": "float"
        },
        "disclosure_date": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "string"
        },
        "overview": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "cwe_id": {
          "type": "string"
        },
        "unpublished": {
          "type": "boolean",
          "description": "True if Veracode has removed this vulnerability from the public registry after further research."
        }
      },
      "title": "VulnerabilityDetailed"
    },
    "VulnerabilitySummary": {
      "type": "object",
      "properties": {
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "cve": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "unpublished": {
          "type": "boolean",
          "description": "True if Veracode has removed this vulnerability from the public registry after further research."
        },
        "cvss2_vector": {
          "type": "string"
        },
        "cvss3_vector": {
          "type": "string"
        },
        "cvss2_score": {
          "type": "number",
          "format": "float"
        },
        "cvss3_score": {
          "type": "number",
          "format": "float"
        },
        "cwe_id": {
          "type": "string"
        }
      },
      "title": "VulnerabilitySummary",
      "description": "Vulnerability Summary. Only set for issue_type=vulnerability."
    },
    "Workspace": {
      "type": "object",
      "properties": {
        "_links": {
          "type": "array",
          "xml": {
            "name": "link",
            "attribute": false,
            "wrapped": false
          },
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "custom_policy_enabled": {
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "last_scan_date": {
          "type": "string",
          "format": "date-time"
        },
        "library_issues_count": {
          "type": "integer",
          "format": "int32"
        },
        "license_issues_count": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "projects_count": {
          "type": "integer",
          "format": "int32"
        },
        "sandbox": {
          "type": "boolean"
        },
        "site_id": {
          "type": "string"
        },
        "total_issues_count": {
          "type": "integer",
          "format": "int32"
        },
        "vulnerability_issues_count": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Workspace"
    },
    "ComponentMetricsModel": {
      "type": "object",
      "properties": {
        "component_metrics": {
          "type": "object",
          "properties": {}
        },
        "cvss2_vuln_counts": {
          "type": "object",
          "properties": {}
        },
        "cvss3_vuln_counts": {
          "type": "object",
          "properties": {}
        }
      },
      "title": "ComponentMetricsModel"
    },
    "ComponentMetrics": {
      "type": "object",
      "properties": {
        "library_id": {
          "type": "integer",
          "format": "int64"
        },
        "age": {
          "type": "integer",
          "format": "int64"
        },
        "code_repo_url": {
          "type": "string"
        },
        "commit_activity": {
          "type": "number",
          "format": "double"
        },
        "commit_volume": {
          "type": "number",
          "format": "double"
        },
        "files_changed": {
          "type": "integer",
          "format": "int64"
        },
        "lines_added": {
          "type": "integer",
          "format": "int64"
        },
        "lines_removed": {
          "type": "integer",
          "format": "int64"
        },
        "num_commits_past12_months": {
          "type": "integer",
          "format": "int64"
        },
        "num_commits_past30_days": {
          "type": "integer",
          "format": "int64"
        },
        "num_committers": {
          "type": "integer",
          "format": "int64"
        },
        "number_of_commits": {
          "type": "integer",
          "format": "int64"
        },
        "stagnation": {
          "type": "integer",
          "format": "int64"
        },
        "library": {
          "type": "object",
          "properties": {}
        },
        "non_vuln_versions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "title": "ComponentMetrics"
    },
    "Library": {
      "type": "object",
      "properties": {
        "author": {
          "type": "string"
        },
        "author_url": {
          "type": "string"
        },
        "coordinate1": {
          "type": "string"
        },
        "coordinate2": {
          "type": "string"
        },
        "coordinate_type": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "language_type": {
          "type": "string"
        },
        "latest_release_version": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "num_of_releases": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Library"
    },
    "VulnerabilityCounts": {
      "type": "object",
      "properties": {
        "critical": {
          "type": "integer",
          "format": "int32"
        },
        "high": {
          "type": "integer",
          "format": "int32"
        },
        "medium": {
          "type": "integer",
          "format": "int32"
        },
        "low": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "VulnerabilityCounts"
    },
    "FixInfo": {
      "type": "object",
      "properties": {
        "fixed_version": {
          "type": "string"
        },
        "latest_safe_version": {
          "type": "string"
        }
      },
      "title": "FixInfo",
      "description": "Instructions for fixing the vulnerability, including the latest safe version of the library. Only set for issue_type=vulnerability. Is not set if the artifact is no longer RELEASED or if the library instance is no longer affected by the artifact."
    },
    "VulnerableMethod": {
      "type": "object",
      "properties": {
        "method": {
          "$ref": "#/definitions/MethodSummary"
        },
        "call_chains": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CallChain"
          }
        }
      },
      "title": "VulnerableMethod"
    },
    "MethodSummary": {
      "type": "object",
      "properties": {
        "module_name": {
          "type": "string"
        },
        "class_name": {
          "type": "string"
        },
        "method_name": {
          "type": "string"
        }
      },
      "title": "MethodSummary"
    },
    "CallChain": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/CallSite"
      }
    },
    "CallSite": {
      "type": "object",
      "properties": {
        "caller": {
          "$ref": "#/definitions/MethodSummary"
        },
        "callee": {
          "$ref": "#/definitions/MethodSummary"
        },
        "file_name": {
          "type": "string"
        },
        "line_number": {
          "type": "integer",
          "format": "int32"
        },
        "internal": {
          "type": "boolean"
        }
      },
      "title": "CallSite"
    },
    "sbom-spdx": {
      "type": "object",
      "properties": {
        "SPDXID": {
          "type": "string",
          "example": "SPDXRef-DOCUMENT",
          "description": "Identify the current SPDX document which may be referenced in relationships by other files, packages internally and documents externally."
        },
        "spdxVersion": {
          "type": "string",
          "example": "SPDX-2.3",
          "description": "SPDX specification version. Current version is SPDX-2.3"
        },
        "creationInfo": {
          "$ref": "#/definitions/sbomspdx_creationInfo"
        },
        "name": {
          "type": "string",
          "example": "spdx-npm",
          "description": "Project name for upload scan or workspace name for agent scan"
        },
        "dataLicense": {
          "type": "string",
          "example": "CC0-1.0",
          "description": "License with data in the document. Use the Creative Commons CC0 1.0 Universal license is ussed."
        },
        "documentDescribes": {
          "type": "array",
          "description": "List of package identifiers",
          "items": {
            "type": "string",
            "example": "SPDXRef-Package-1c2d5cc5-cc6c-550c-88c1-a897b8f2c0ae"
          }
        },
        "documentNamespace": {
          "type": "string",
          "example": "https://api.veracode.com/srcclr/sbom/v1/targets/d7e66d2b-1dde-46b8-bff4-f3131f8314cd/spdx",
          "description": "Provide an SPDX document-specific namespace as a unique absolute Uniform Resource Identifier (URI) as specified in RFC-3986"
        },
        "packages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/sbomspdx_packages"
          }
        },
        "relationships": {
          "type": "array",
          "description": "Dependencies between packages(libraries)",
          "items": {
            "$ref": "#/definitions/sbomspdx_relationships"
          }
        }
      },
      "title": "SBOM SPDX Document"
    },
    "sbom": {
      "type": "object",
      "properties": {
        "bomFormat": {
          "type": "string",
          "description": "Specifies the format of the BOM. This helps to identify the file as CycloneDX since BOMs do not have a filename convention nor does JSON schema support namespaces. This value MUST be \"CycloneDX\".",
          "title": "BOM Format",
          "enum": [
            "CycloneDX"
          ]
        },
        "specVersion": {
          "type": "string",
          "description": "The version of the CycloneDX specification a BOM conforms to (starting at version 1.2).",
          "title": "CycloneDX Specification Version"
        },
        "serialNumber": {
          "type": "string",
          "description": "Every BOM generated should have a unique serial number, even if the contents of the BOM have not changed over time. If specified, the serial number MUST conform to RFC-4122. Veracode recommends using serial numbers.",
          "title": "BOM Serial Number",
          "pattern": "^urn:uuid:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
        },
        "version": {
          "type": "integer",
          "description": "Whenever an existing BOM is modified, either manually or through automated processes, the version of the BOM should be incremented by 1. When a system is presented with multiple BOMs with identical serial numbers, the system should use the most recent version of the BOM. The default version is '1'.",
          "title": "BOM Version"
        },
        "metadata": {
          "description": "Provides additional information about a BOM.",
          "title": "BOM Metadata",
          "$ref": "#/definitions/metadata"
        },
        "components": {
          "type": "array",
          "description": "A list of software and hardware components.",
          "title": "Components",
          "uniqueItems": true,
          "items": {
            "$ref": "#/definitions/component"
          }
        },
        "dependencies": {
          "type": "array",
          "description": "Provides the ability to document dependency relationships.",
          "title": "Dependencies",
          "uniqueItems": true,
          "items": {
            "$ref": "#/definitions/dependency"
          }
        },
        "vulnerabilities": {
          "type": "array",
          "description": "Vulnerabilities identified in components or services.",
          "title": "Vulnerabilities",
          "uniqueItems": true,
          "items": {
            "$ref": "#/definitions/vulnerability"
          }
        }
      },
      "title": "SBOM Object"
    },
    "refType": {
      "type": "string"
    },
    "metadata": {
      "type": "object",
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time (timestamp) when the BOM was created.",
          "title": "Timestamp"
        },
        "tools": {
          "type": "array",
          "description": "The tools used in the creation of the BOM.",
          "title": "Creation Tools",
          "items": {
            "$ref": "#/definitions/tool"
          }
        },
        "component": {
          "description": "The component that the BOM describes.",
          "title": "Component",
          "$ref": "#/definitions/component"
        },
        "author": {
          "description": "The organization that supplied the component that the BOM describes. The supplier may often be the manufacturer, but may also be a distributor or repackager.",
          "title": "Supplier",
          "$ref": "#/definitions/organizationalContact"
        },
        "supplier": {
          "description": "The organization that supplied the component that the BOM describes. The supplier may often be the manufacturer, but may also be a distributor or repackager.",
          "title": "Supplier",
          "$ref": "#/definitions/organizationalEntity"
        }
      },
      "title": "BOM Metadata Object"
    },
    "tool": {
      "type": "object",
      "properties": {
        "vendor": {
          "type": "string",
          "description": "The name of the vendor who created the tool.",
          "title": "Tool Vendor"
        },
        "name": {
          "type": "string",
          "description": "The name of the tool.",
          "title": "Tool Name"
        },
        "version": {
          "type": "string",
          "description": "The version of the tool.",
          "title": "Version"
        }
      },
      "title": "Tool",
      "description": "Information about the automated or manual tool used."
    },
    "organizationalEntity": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
[...]
